@import "tailwindcss";

:root {
  --bg-color: #1e1e1e;
  --text-color: #f1f1f1;
  --accent-color: #4caf50;
  --container-bg: #2a2a2a;
  --btn-bg: #4caf50;
  --btn-hover: #45a049;
}
body.light {
  --bg-color: #f8f8f8;
  --text-color: #333;
  --accent-color: #ff9800;
  --container-bg: #fff;
  --btn-bg: #ff9800;
  --btn-hover: #e68900;
}

/* Global resets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: background 0.5s, color 0.5s;
}




h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
